<h1>Edit Certification</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.certification_path(@conn, :update, @certification)) %>

<span><%= link "Back", to: Routes.certification_path(@conn, :index) %></span>
