<h1>New Certification</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.certification_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.certification_path(@conn, :index) %></span>
